[2016-04-24 21:53] jokish63 opened #1 "The mod FEI (Forever Enough Items) requires mod versions [excore@[1.5,)] to be available"
for your information
Am I to fast - perhaps?
best regards jokish

[2016-04-25 14:57] Elix-x commented on #1
Very massive derp on my part. I forgot to hit submit button when uploaded files to curse. Sorry about that.

Meanwhile, they're already approved!
Here's direct link: http://minecraft.curseforge.com/projects/excore/files/2296129

[2016-04-25 14:57] #1 closed

[2016-04-25 15:52] ghost commented on #1
thank you for your fast response

best regards jokish

[2016-04-25 15:55] Elix-x commented on #1
No problems!
BTW, you're faaaaar not the only one who reported this.

[2016-04-25 16:09] jokish63 opened #2 "GUI shows not proper eventually Problem with JEI"
sorry but i found another Problem.
I believe it's JEI. I have found an entry in the log file. the Games is not crashing just the GUI shows not all buttons correctly and some of them are not available.

Screenshot here: https://imgur.com/a/phfS3.
log file (Game is running): http://paste.ee/p/jG5Vx

You sayed you will be informed if that happens.
I'll open it in JEI repository also.
best regards jok

[2016-04-25 16:16] Elix-x commented on #2
Wih buttons are you speaking of?
If speak about JEI settings button,

Also, (because item subsets covers left arrow) adjust your elements positions (resize mc screen vertically, untill you see profiles button in bottom left corner appear. Right click on it to change profiles settings. From, there, in position and size screen, use your numpad to center elements correctly).

[2016-04-25 18:08] #2 closed

[2016-04-25 18:40] ghost commented on #2
I speak from the yellow apple button. It take me a while to figure it out what is left- or right-click.
(I'm not really good in reading english text).
The only thing is left: After a change from the GUI scale in the Video Settings this button is moving upwards. All other things does not change their positions.
From my perspective, the menus are a bit confusing.
Example: I think it would be good if

[2016-04-25 18:46] Elix-x commented on #2
Other things do not change their position, because a) they're at 0 height b) they are hardcoded to be where they are.

Left clicking lets you select between profiles, right clicking, manage your profiles, and settings of elements.

I would like it too, but i don't think it is easily doable. But i'll look into it.

[2016-04-27 10:58] Sailren opened #3 "server crash when creating a single player world, close it and open it immediately again"
null pointer exception

report here: http://paste.ubuntu.com/16077140/

[2016-04-27 13:57] CA2020 opened #4 "Crash on New World"
When creating a new world. My pack just crashes.

Here is the log.

http://pastebin.com/xp356zmx

[2016-04-27 14:00] Elix-x commented on #4
Duplicate of #3.

[2016-04-27 14:24] Elix-x commented on #3
Thanks!
I don't exactly know what's null on that line, but i have some ideas.

[2016-04-27 18:11] #3 closed

[2016-04-27 18:12] #4 closed

[2016-04-29 05:47] bart1ebee opened #5 "Press P to manage profiles"
When pressing P even in the search box with version 1.0.3 it will bring up the manage profiles screen

[2016-04-29 16:06] Elix-x commented on #5
Thanks for the report.
Fixing it!

[2016-04-29 19:05] #5 closed

[2016-05-02 04:19] Thiana opened #6 "Unable to configure"
The profile configuration is acting differently depending on how large the screen is. When it's full screen I see 5 sections to configure (B) but none of those sections react to clicks. When it's not full screen (A) only 2 sections are visible (JEI, Utilities) and both can be selected for further configuration (C).

When in fullscreen mode (B), the logfile gets spammed with:
[00:07:58] [Client thr

[2016-05-02 15:25] Elix-x commented on #6
I'll check full screen mode. Meanwhile, this is list of elements, meaning that you can scroll, or drag it with your mouse to show elements below / above.

I'll also check what is causing gl error (and it seems that it causes configuration screens to become invisible).

Thanks for the report!

[2016-05-02 18:23] #6 closed

[2016-05-02 19:18] Thiana commented on #6
Everything (including fullscreen) is working correctly with the new version. Thank you :)

[2016-05-02 19:23] Thiana opened #7 "Subset enhancement"
Could you please consider three refinements to Item Subsets?

(1) Sort the list of mods alphabetically.
(2) Allow the size of the subset window to be altered so we can see more mods without scrolling. As it is the list only uses the top 30% of the screen.
(3) If we shift-click the mod name could you have it paste the @modname to jei's search field? A single scrollable list is ok for a quick overvi

[2016-05-02 19:23] Elix-x commented on #6
No problems!

[2016-05-02 19:26] Elix-x commented on #7
1) Doable. Expect in next update.
2) I'll think how it can be done.
3) Already in my to-do list :) .

[2016-05-03 14:16] bart1ebee opened #8 "Press P to manage profiles"
I have modular storage installed and pressing P in the search bar for modular storage will bring up the mange profiles too. Kind of related to issue #5 version 1.0.5 or 1.0.6 can't remember what version is installed and I'm not at my machine.

[2016-05-03 15:09] Elix-x commented on #8
Yep. And i'm accepting suggestions on how i should change it. As temporary solution, in 1.0.7, you will have to press ctrl+P.

[2016-05-03 15:09] Elix-x commented on #8
I'll create a separate issue for this.

[2016-05-04 19:10] #7 closed

[2016-05-04 19:10] #8 closed

[2016-05-05 23:46] m1jordanallen opened #9 "hardcore"
Without the use of cheats on hardcore or when not enabling cheats in survival, it's a pain to fiddle with opening to lan and using commands to get many aspects of the mod to work (magnet, time, etc).  I may be missing something in the options.

[2016-05-06 06:48] Elix-x commented on #9
If you want to be able to fidle with time (and other things) without moderator permission, you can go to config/Forever Enough Items/static.cfg and you'll see permission category. Just change each one you want to use without permission to "USER".

[2016-05-06 21:44] m1jordanallen commented on #9
thank you for the response!  This is exactly what I was hoping for :)

[2016-05-06 21:44] #9 closed

[2016-05-07 07:53] Elix-x commented on #9
No problems!

[2016-05-07 18:32] accessdenied0 opened #10 "[Issue] Permanent Rain"
Hey @elix-x,

I recently found a bug with this mod (ForeverEnoughItems-1.0.8-1.9, Forge: 12.16.1.1887)

It seem to set constantly the rain to "true" (seem not to save a state change). I was not able to turn it off with normal ways (sleeping) or cheats like (toggledownfall). Sadly I do not have proof in form of a console message, but after disabling this mod (and only this one) it is working again.

[2016-05-07 18:41] Elix-x commented on #10
Are you speaking of weather utility?

[2016-05-07 20:32] timmyforchelsea opened #11 "Crash loading on Server"
Server crashes on load with this crash when FEI is in the instance.
JEI 1.9-3.3.3.197
Excore 1.5.3-1.9
ForeverEnoughItems-1.0.8-1.9

http://pastebin.com/43kkDEG6

[2016-05-08 00:00] accessdenied0 commented on #10
@elix-x

Yeah. I was like I said not able to change the weather. It always turned to rain. Even the features were in Recipe-, Utility- or Cheat- mode, the results were the same. Rain turned "off" and immediately back on. Even the button only showed, after closing and reopening, the next option after rain (Thunderstorm).

[2016-05-08 07:47] Elix-x commented on #11
Thanks for the report. It's partially known for a week already, but i still can't figure out what's exactly causing it.

[2016-05-08 07:48] Elix-x commented on #10
And if you click on clear (Right click on weather util and click on the sun)? Does the rain disappear?

[2016-05-08 08:20] accessdenied0 commented on #10
@elix-x

It always seem to stop the rain (rain fades out, it getting brighter, sun) but after this "animation" is finished it immediately starts to rain again. If I try after this to turn the rain "on" again, it also stops for a brief second and it starts raining, again, again.

[2016-05-08 08:28] Elix-x commented on #10
That's weird. And if you use command will the rain restart again?

[2016-05-08 14:04] accessdenied0 commented on #10
@elix-x

Yeah. Commands, Beds and FEI (integrated button). Nothing worked.

[2016-05-08 14:08] Elix-x commented on #10
That's very weird... Have never seen antyhing like this.
I'll look into what might be causing this, meanwhile which other mods do you have installed?

[2016-05-09 11:44] accessdenied0 commented on #10
Here: http://pastebin.com/1E3QFgn0

[2016-05-09 14:58] Elix-x commented on #10
Wow... That's a not a small modpack.
I quickly looked through it, but haven't noticed any mod that could affect weather. Can you think of any?

[2016-05-10 04:49] Bennyboy1695 commented on #11
Looks like the issue might be this line - https://github.com/elix-x/Forever-Enough-Items/blob/master/1.9/src/main/java/code/elix_x/mods/fei/utils/BinFEIUtil.java#L20
the code "thePlayer" is calling the singleplayer version of the player rather then multiplayer which is needed on servers obviously.

[2016-05-10 14:44] Elix-x commented on #11
No. In java class is loaded when it:
-Is defined as field of class that is being loaded.
-Is required in currently executed method.
So unless onSelect is executed, class will not be loaded (but it would try to load Minecraft first and fail anyways).

[2016-05-10 21:03] accessdenied0 commented on #10
127 mods, sadly I can't tell which one could affect weather. The only one I can spontaneously think of is Blood-Magic. The rest is more tech-mod stuff (so no direct effects to weather).

[2016-05-11 14:54] Elix-x commented on #10
Ok... I have tried searching for it, did not find.
Is this bug specific to one world, or does it happen in all worlds?

[2016-05-11 22:33] Bennyboy1695 commented on #11
I know how java works, have written mods myself :stuck_out_tongue:
But the reason this wont work is because the server is trying to use a Client only class meaning its going to always crash.
This is what the crash report tells you - Attempted to load class net/minecraft/client/entity/EntityPlayerSP for invalid side SERVER.

[2016-05-12 16:47] Elix-x commented on #11
I'll just say that if you haven't looked a lot at code, don't say anything. I'll stop here.
Class is not loaded until mehtod is ran. And in this case especially, it would try to load Minecraft (which is also client side) first and crash on it without reaching SP.

[2016-05-14 13:50] #11 closed

[2016-05-14 21:14] mik900 opened #12 "Server crash"
Server crashes with FEI installed.
Installed mods:
 Excore-1.5.3-1.9
 ForeverEnoughItems-1.0.9-1.9
 jei_1.9-3.3.3.200
Crashlog:
http://pastebin.com/5mgSAbwt

[2016-05-15 06:01] GeneticSteve opened #13 "net.minecraftforge.fml.common.LoaderException: java.lang.IllegalAccessError: tried to access field net.minecraftforge.fml.client.event.ConfigChangedEvent.modID from class *other mod*"
<spoiler>
---- Minecraft Crash Report ----

WARNING: coremods are present:
  LoadingPlugin (HardcoreDarkness-MC1.9-1.8.jar)
  PixelCamTilt (pixelcam-mc1.9-1.0.jar)
  ItemPatchingLoader (ItemPhysic Full 1.3 mc1.9.jar)
  FMLPlugin (InventoryTweaks-1.61-dev-43.jar)
  LoadingPlugin (ChunkAnimator-MC1.9-1.1.jar)
  ShoulderPlugin (ShoulderSurfing-1.9-1.0.jar)
Contact their authors BEFORE contacting forg

[2016-05-15 07:22] Elix-x commented on #13
Caused by chunk animator.
@lumien231 Update to latest forge.

[2016-05-15 07:22] #13 closed

[2016-05-15 07:24] Elix-x commented on #12
Weird. Didn't meet this one while testing. Will be hotfixed.

[2016-05-15 08:46] Elix-x commented on #12
I get it. This class is client only in 1.8, but not in 1.9.

[2016-05-15 10:03] mik900 commented on #12
Sorry for the inconvenience, but my MC-version is 1.9

[2016-05-15 10:40] Elix-x commented on #12
Ok. Aparently i messed up in both places.

[2016-05-15 10:49] #12 closed

[2016-05-15 12:06] mik900 opened #14 "Server crash on Player join [MC1.9, ForeverEnoughItems-1.0.9.1-1.9]"
crash when a Player join on the server.
Mods:
- Excore-1.5.3-1.9.jar
- jei_1.9-3.3.3.200.jar
- ForeverEnoughItems-1.0.9.1-1.9.jar
- Mantle-1.9-0.9.4.jar
- TConstruct-1.9-2.2.2.jar

[crash-report](http://pastebin.com/xbpwTzSm)

[2016-05-15 12:23] Elix-x commented on #14
Ok... Anything else XD... ?

[2016-05-15 12:39] mik900 commented on #14
:smiley: Not in the Moment.
Server starts normally, but on player join, server crash.

[2016-05-15 13:16] Elix-x commented on #14
Ok. I'll fix this, not right right now. Maybe in an hour fix will be out.

[2016-05-15 13:24] mik900 commented on #14
👍

[2016-05-15 14:56] #14 closed

[2016-05-16 08:05] mik900 commented on #14
Now it works fine for me. 👍 Thanks for the fix. 😃

[2016-05-16 08:23] Elix-x commented on #14
You're welcome! :smile: !

[2016-05-16 16:17] accessdenied0 commented on #10
@elix-x

Sorry for let ya waiting for so long, I got a bit busy lately....

Anyway I updated a few mods and strangely it seem to be fixed.... I don't know which mod it caused...

I think we can close it for now... I hope this doesn't happen again ;)

Thank you anyway for your help.

[2016-05-16 16:17] #10 closed

[2016-05-16 16:20] Elix-x commented on #10
Yeah, we can close it. It's probably mod interaction. Weird things happen with it.
I'm glad it's fixed, though.

[2016-05-17 09:46] MineWitherMC opened #15 "Crash on MIneplex?"
When I trying to get to mineplex server with FEI my client crashes. It doesn't crash without FEI nor it crashes on other servers.
Crash Report: http://codepad.org/YXfrXZl7
Edit: it crashes when opening inventory.

[2016-05-17 11:26] Elix-x commented on #15
And i does not crash with fei on any other server? Interesting...
Anyways, i'll look into it.

[2016-05-25 20:58] Bersham opened #16 "Crash during startup-Single Player-1.8.9 - MooFluids - NCDF RegistryNamespaced"
Console throws out a 'Caught exception from FEI' error during startup that causes a crash.

Minecraft 1.8.9
Forge 11.15.1.1855+
FEI 1.0

[Latest.log](https://pastenib.com/v/Yr9QVQ1L1lP7P1PmvEkx)
[Crash Report](https://pastenib.com/v/1zqXIgRPTJHewLvQe6MJ)

[2016-05-26 07:01] Elix-x commented on #16
Mkae sure that you're using latest forge (latest, not recomended).

[2016-05-26 17:44] ghost commented on #16
Sorry it took so long for an update. I deleted all mods besides:

ExCore 1.0
FEI 1.0
JEI 2.28.18.186
Forge 11.15.1.1902

and it started up just fine. I was able to create a new world and test it. Must be something with another mod... :cry:

[2016-05-26 17:57] ghost commented on #16
#https://github.com/TheRoBrit/Moo-Fluids/issues/35

It's [Moo Fluids](http://minecraft.curseforge.com/projects/moo-fluids?gameCategorySlug=mc-mods&projectID=74254&cookieTest=1) that's causing the crash.

ExCore 1.0
FEI 1.0
JEI 2.28.18.186
Moo Fluids 1.6.03.20a
Forge 11.15.1.1902

[Latest Log](https://pastenib.com/v/6PxyDgUZHLwIrHZw7rGq)
[Crash Report](https://pastenib.com/v/chTOLXud0PrLJs3EcNjN)

[2016-05-26 18:50] Elix-x commented on #16
Ok, so that's mod interaction... If i read TheRoBrit/Moo-Fluids#35 correctly.

[2016-05-26 18:54] ghost commented on #16
Yes, that's what I'm guessing. I just opened up a ticket on Moo Fluid too just to make sure they know about it.

[2016-05-26 18:55] Elix-x commented on #16
I saw that. It may be on both my and his end. So we are waiting for @TheRoBrit to respond.

[2016-05-26 18:57] ghost commented on #16
Okay. Thanks for looking into it. I appreciate it.

[2016-05-26 19:00] Elix-x commented on #16
You're welcome.

[2016-05-27 11:26] RoBrit commented on #16
Hi,

This is most likely a bug within the FEI codebase, I believe it's upon attempting to do reflection to manipulate a function that is declared as static. (As shown from the Forge logs)

Within the Forge log itself it also shows that FEI is the mod that is erroring in the report and that MooFluids is completing its load cycle fully.

As to what you need to do to resolve this issue from your end

[2016-05-27 14:31] Elix-x commented on #16
No, i'm not using reflection at this line...
I wanted to say "let's look in code", but when looking through logs, i found excpetion being generated by FEI and moo fluids (look in 2nd log, [this one](https://pastenib.com/v/6PxyDgUZHLwIrHZw7rGq)), more specifically, at this part:

[code]

It references both FEI and moo fluids, and especially tells that problem is in moo fluids event handler.

[2016-05-27 17:16] ghost commented on #16
Huh, it seems like he just told us to fuck off....

[2016-05-29 21:49] xCaptainHaddockx opened #17 "Crash on /feiop"
Whenever I use the /feiop command in single player, my game crashes shortly afterwards.  The crash usually results within 5 - 15 seconds of the command, but has taken close to 45 seconds to a minute on occasion.  My crash report mentions an OpenGL error, but I don't know why this command would interfere with OpenGL.  Additionally, my graphics drivers are all up to date.

Crash report:  http://past

[2016-05-30 14:53] Elix-x commented on #17
Actually, this has nothing to do with GL.

[2016-05-30 14:54] Elix-x commented on #17
Just noticed: you're using 1.9.4 versions for mc 1.9. Either download 1.9 excore & FEI versions or update forge to 1.9.4.

[2016-05-30 15:25] xCaptainHaddockx commented on #17
Thanks for the reply.  I had tried running with forge 1.9.4 before, but was getting a crash on startup.  I just updated again though, and it seems the problem was with an incompatible version of Optifine rather than with your mod.  Thanks for the help, love your mod.

[2016-05-30 15:27] Elix-x commented on #17
Nice. So is everything working now?

[2016-05-30 15:38] xCaptainHaddockx commented on #17
Yep.  Updated Optifine, and everything's running smoothly.

[2016-05-30 15:46] Elix-x commented on #17
Ok. Good to know.

[2016-05-30 15:46] #17 closed

[2016-06-02 03:52] billybag opened #18 "Overlay Not Like Described"
I have no idea what i am doing wrong, the mod works, but the overlay is not like pictured or described and there is no "profiles" button or any settings button. Hitting "P" does nothing. The left arrow (used to scroll through items) is covered up with a big subsets button.

Also is there a thread for this in the Minecraft forum because i looked and couldn't find one and it would probably be wise t

[2016-06-02 04:44] billybag commented on #18
solved by deleting and reinstalling JEI and deleting all config files.

[2016-06-02 17:13] Elix-x commented on #18
Ok. Something simply glitched out. Good that you managed to fix it!

MCF thread will come when i will finish documentation on curse. Because MCF editor is very derpy and i don't want to edit information there 9000 times.

[2016-06-02 17:13] #18 closed

[2016-06-10 11:10] keramond opened #19 "jei overrides not working"
hey iam using the mod on a 1.9.4 mp server and the overrides dont apply when switching profiles, i have to reset the option in the profile manager everytime.

[2016-06-10 11:21] Elix-x commented on #19
A few specific options or is it the case for all of them?

[2016-06-10 11:23] keramond commented on #19
give items, delete items and center search, so should be all of them

[2016-06-10 12:07] Elix-x commented on #19
And what specifically happens?
Which version of JEI are you using?

[2016-06-10 12:10] keramond commented on #19
jei 1.9.4 2.6.2.211

so i want the cheat mode profile to be able to cheat in items from the item list, and the recipe profile to show the recipe instead. but it just uses the give item option i last set in the profile manager, not considering which profile i have curently active.

[2016-06-10 12:20] Elix-x commented on #19
Ok, that's even weirder...
Can you try with jei_1.9.4-3.4.0.204?

[2016-06-19 15:15] Renadarain opened #20 "Crash when trying to type in the search box"
Hi,

Minecraft: 1.9.4
Forge: forge-1.9.4-12.17.0.1965 & forge-1.9.4-12.17.0.1968
Jei: jei_1.9.4-3.6.7.216
ForeverEnoughItems-1.0.10-1.9.4

Tried with and without a texture pack, With and without any mods. (Except jei and fei)

http://pastebin.com/ain6XR5x

Regards,
Renada

[2016-06-19 15:49] Elix-x commented on #20
And if you try with jei_1.9.4-3.4.0.204.jar, does it still crash?

[2016-06-19 16:48] Renadarain commented on #20
Just tested with jei_1.9.4-3.4.0.204.jar with no other mods and it doesn't crash but I can't test it with the mods as apparently some of them require the latest jei.

[2016-06-19 16:56] Elix-x commented on #20
Ok, thanks. Seems to be FEI overrides' problem with latest JEI. I'll push hotfix tomorrow (unable to do it today).

[2016-06-19 16:57] Renadarain commented on #20
Thanks very much, appreciate that  :)

[2016-06-19 16:58] Elix-x commented on #20
You're welcome!

[2016-06-20 10:19] #20 closed

[2016-06-20 10:20] Elix-x commented on #15
Can you try to reproduce this with 1.0.11, please?

[2016-06-22 20:03] LemonJamTart opened #21 "Crashing on Startup 1.8.9 - Improving Minecraft - ItemMobSpawner.func_150895_a"
Hello! I've been having a bit of a crashing issue when I attempt to even launch the game. After removing all of my mods except for FEI, JEI, and Excore, the game launches just fine. I have a crash report on this Google Doc [here](https://docs.google.com/document/d/1rmLuwUTHH-hTs_z_caryXgZo0ahPXbHWjvS38zSeZ_c/edit). If you could perhaps take a look at that, and help me identify which mod I've got i

[2016-06-23 07:14] Elix-x commented on #21
Uhhm, you didn't open crash file to public access.
And it would be better, if you could post it on patebin or gist.

[2016-06-23 15:34] blockbreaker1361 opened #22 "Crash on 1.9.4 - ItemListOverlayOverride.setFilterText"
When I attempt to click on a mod listed in the subset list, I got this crash. This is with all latest versions.
http://pastebin.com/ZVd2bPc9

[2016-06-23 16:13] Elix-x commented on #22
Thanks! I'll push hotfix tomorrow, if i won't be able to today.

[2016-06-23 17:22] LemonJamTart commented on #21
Oh! Oh, gosh, I'm so sorry! I have a new, working Pastebin link [here](http://pastebin.com/JprZW0xt). Very sorry.

[2016-06-23 17:41] Elix-x commented on #21
No, not a big deal.
Looking at this crash, it actually is weird and caused by a mod.

Ok, in your opinion, which of mods that you have have somethign to do with spawners (really anything, from texture changing to complete overhaul)?

[2016-06-24 07:15] Elix-x commented on #21
It's crash with Improving Minecraft, you can report it on [his issue tracker](http://minecraft.curseforge.com/projects/improving-minecraft/issues/create). While it's not fixed, i'll keep this issue open.

[2016-06-24 16:32] LemonJamTart commented on #21
Oh, ok, thank you! I don't really need the mod, as I added it as an afterthought, so I can just remove it. Thank you very much. I'll go ahead and report it on his issue tracker so that it might help him with conflicting mods.

[2016-06-24 16:42] Elix-x commented on #21
Thanks for reporting it to him!
As issue is on his side, i'll consider this issue on my side fixed.

[2016-06-24 16:42] #21 closed

[2016-06-25 03:42] SerranoPancake opened #23 "Minecraft 1.10 server - Forge installed client crash when clicking item - NoSuchMethodError Focus.getStack"
Got mod installed on server. Logged in, everything looked good. Able to change profiles no problem. When I go into cheat mode and click an item to get a stack or right click for one, the client crashes with this error log.
http://pastebin.com/Tmz6C4Fw

Thanks in advance for the help! Great Mod

[2016-06-25 06:40] Elix-x commented on #23
Thanks for the report. I think i know what happened.

[2016-06-27 03:46] Diablo1290 opened #24 "Forever Enough Items Crashes When Trying to Click on Items"
Okay, so, I recently installed this mod and after a couple of hours of trying to figure out "How" to permission myself on singleplayer... I figured it out. But now... Every time I click on any of the blocks, swords, tools, etc..., the game completely crashes "Shutting Down Internal Server"... I've uninstalled every mod and kept Forever Enough Items Mod and its corresponding mods and it still crash

[2016-06-27 06:56] Elix-x commented on #24
Please post crash report. Either on pastebin or gist.

[2016-06-27 13:14] #22 closed

[2016-06-27 15:15] DerIlias commented on #24
Same problem
[crash report](http://pastebin.com/auyWQW4Q)

[2016-06-27 15:21] Elix-x commented on #24
Duplicate of #23.

[2016-06-28 07:35] onangelswings opened #25 "Forever Enough Items Crash When Click For Stack"
Hey i know you have just done an update, i downloaded that update and still the cheat mode does not work for me i am persistently getting a crash when trying to add items or stacks to my inventory,

I do /feiop and then go to inventory under cheat mode, example click diamond axe, game freezes, shutting down internal server and then the crash log.
Crash log below
[ pastebin.com/raw/VYchDntn](url)

[2016-06-28 07:37] Elix-x commented on #25
Duplicate of #24 . It will be fixed, i "fixed" wrong thing in 1.0.13.

[2016-06-28 07:38] onangelswings commented on #25
ah thanks, no problems i will check back later for your update then

[2016-06-28 09:04] Elix-x commented on #23
Fixed wrong thing.

[2016-06-28 09:05] #23 closed

[2016-06-28 09:05] #24 closed

[2016-06-28 09:05] #25 closed

[2016-06-28 18:37] mezz opened #26 "Please set a maximum supported JEI version on all releases"
I am getting reports any time I update JEI because FEI is messing with internal classes.

At the very least, please set the version range on your JEI dependency so that it is something like
`required-after:JEI@[3.7.0,3.7.1];`
This way when JEI updates, players will get a warning that FEI only supports up to version 3.7.1 instead of having it crash.

[2016-06-28 18:50] Elix-x commented on #26
While i'm trying to always check changes in your repository, i can't always apply changes to FEI right after you applied to JEI. I could set maximum version, but still your internal classes that FEI depends on do not change on each release. And if i would limit it, i would have to update FEI each time you post a new release just with changed max version.

Unless, you have a version number that is

[2016-06-28 19:20] mezz commented on #26
That is the nature of this project, it is your choice to do it this way. I support an API with versioning already, I do not support using or altering my internal classes. If you want to be responsible about it please set a maximum version. [I have even improved the missing mods screen with this type of situation in mind, so players are not confused.](https://github.com/MinecraftForge/MinecraftForg

[2016-06-28 19:30] Elix-x commented on #26
I saw your PR already, partially guessing where it came from.
I'll see what i can do about it (method existence checks). In the worst case, i will simply set maximum version.

[2016-06-28 19:35] mezz commented on #26
Thank you!

[2016-07-02 23:31] Morpheus1101 opened #27 "[1.10.2] Crash rendering JEI Screen list of items"
Crash log @ http://pastebin.com/qcCmduzT

[2016-07-03 06:51] Elix-x commented on #27
FEI is NOT yet update NOR compatible with minecraft 1.10.2. There's a reason for that (#26).
Please wait for 1.10.2 release.

[2016-07-03 06:51] #27 closed

[2016-07-03 14:27] PedroPTJunior opened #28 "OP Crasshes"
I've installed this mod to help me fin the recipies without havint to leave the game screen, but i decided to use it to get some itens and when i usede the comand "/feiop" it triged a game crash, everytime i clic onto something (minecraft itnes) in the FEI/JEI menu the game crashes

Here is the game crash report.
[crash-2016-07-03_11.07.01-client.txt](https://github.com/elix-x/Forever-Enough-Items

[2016-07-03 15:06] Elix-x commented on #28
Fixed in 1.0.14.

[2016-07-03 15:06] #28 closed

[2016-07-03 15:26] PedroPTJuniorGames commented on #28
thankyou

[2016-07-03 15:29] Elix-x commented on #28
You're welcome.

[2016-07-04 12:24] #26 closed

[2016-07-20 08:10] Gamerbolts opened #29 "Null item in itemStack java.lang.NullPointerException (plugins)"
Hi I have not experienced a crash yet but was having a problem with a mod so went back to tested mods one at a time. I am seeing a lot of red text in the log. Not sure if it means anything? Any help is appreciated. Thank you!

http://pastebin.com/P1Pb5k27

I am using 1.10.2 newest version of FEI ; 1.10.2 Release version of JEI (I also tried the beta version: same error in the log) and the newest v

[2016-07-20 08:15] Elix-x commented on #29
This seems to be JEI's "invalid" recipes logging. Totally normal and not related to FEI. Won't cause a crash though.

[2016-07-20 08:15] #29 closed

[2016-07-23 18:21] majix560 opened #30 "[Feature Change Request] Why do I have to use /feiop in singleplayer with cheats enabled?"
Why do I have to use /feiop in singleplayer with cheats enabled?
That just doesn't seem right to me.
I shouldn't have to use a command to be able to cheat items in when jei's cheat-items-in is enabled and cheats are enabled for the sp world.
Why can't you just use JEI's cheat-items-function instead of using your own function to cheat them in?
I think this because JEI's built in cheat mode can only

[2016-07-23 18:25] GazbonicAcid commented on #30
If however, you do use JEI to cheat items in,
I suggest you default the player to "OWNER" when when in a single player world with cheats enabled.

[2016-07-23 19:03] Elix-x commented on #30
Well, i actually already got this request and i tried implemeting auto opping. [Sadly, it did not work](https://github.com/elix-x/Forever-Enough-Items/commit/04150d5b0e401ae5ca09a1070c650b6753615a03). I will try once more for next version, though. I might know a way around it.

[2016-07-25 11:20] Elix-x commented on #30
Alright, i have good news and not so good news:
- I made it work.
- It will come in 1.1 update.

[2016-07-25 15:50] GazbonicAcid commented on #30
if only I knew what makes the bad news, bad news.

[2016-07-25 16:45] Elix-x commented on #30
That's up to you ;D.

[2016-07-26 22:05] Renadarain opened #31 "Magnet toggle doesn't appear to work"
Hi :)

MC: 1.10.2
forge-1.10.2-12.18.1.2026-installer
ForeverEnoughItems-1.0.15-1.10.2

Magnet is set to USER in the configs.  We can all use it but nobody can successfully turn it off again. You can click to turn it off but it doesn't actually turn off.  /magnet also gives "unknown command" error.

Regards,
Renada

[2016-07-27 07:41] Elix-x commented on #31
You double click it (turn it on and back off).
There's a sync issue, which will be fixed in 1.1.

[2016-07-27 21:14] Renadarain commented on #31
Thank you, that works :)

[2016-07-30 20:03] DatrixTHLK opened #32 "Crash with Chiselandbits"
Hello,
My game is crashing when I look up chiselandbits mod items in the item subset list.
Recent version of forge: 12.18.1.2035
Recent version of this mod: 1.0.15
Minecraft version: 1.10.2
http://pastebin.com/23yjhyG1

[2016-07-31 08:47] Elix-x commented on #32
This is very weird FEI-JEI-C&B-Forestry interaction.
Poking @AlgorithmX2, @mezz.

[2016-07-31 23:18] dddwefesx opened #33 "Crash starting in 1.10.2"
This is the crash report:
[crash-2016-07-31_16.11.16-client.txt](https://github.com/elix-x/Forever-Enough-Items/files/392692/crash-2016-07-31_16.11.16-client.txt)

[2016-08-01 01:00] Eaglexxv commented on #33
elix-x
thanks for your hard work. I'm also crash at start. But also it might be I'm running chisels and bits. Im not sure, so here is the crash report.
please let me know if I can help you out finding this or any other problems
thanks
Eaglexxv
[crash-2016-07-31_20.41.29-client.txt](https://github.com/elix-x/Forever-Enough-Items/files/392756/crash-2016-07-31_20.41.29-client.txt)

[2016-08-01 01:03] huantianad commented on #33
This has nothing to do with this, but how do you add a label?

[2016-08-01 07:51] Elix-x commented on #33
Try updating excore to 1.6.1
If it didn't help, check that you have all required mods for all mods to run.

[2016-08-01 07:52] Elix-x commented on #33
@dddwefesx labels can be added only by repo owners/modders.

[2016-08-01 20:10] huantianad commented on #33
Thanks. That really helped!

[2016-08-02 11:07] Elix-x commented on #33
Ok. Closing this...

Meanwhile i think we found a bug in forge :laughing: .

[2016-08-02 11:07] #33 closed

[2016-08-02 11:19] Morpheus1101 opened #34 "[1.10.2] Crash Due to Unknown character '' in '/config/JEI/jei.cfg:1'"
Crash report @ http://pastebin.com/TUcUw1Wv

[2016-08-02 11:23] ansiliden opened #35 "1.10.2 Crash"
Help please. i did have the other recommended mods but uninstalled as i thought they were the problem.
[crash-2016-08-02_21.15.04-client.txt](https://github.com/elix-x/Forever-Enough-Items/files/396858/crash-2016-08-02_21.15.04-client.txt)

[2016-08-02 11:40] Elix-x commented on #34
You can try deleting JEI/JEI.cfg. If you don't can't delete it, open it and replace all `'` characters with space.

[2016-08-02 11:42] Elix-x commented on #35
Duplicate of #33.

[2016-08-02 11:42] #35 closed

[2016-08-02 11:44] Morpheus1101 commented on #34
I del all configs to let it re-generate and it come back up with the same error. I will try your suggestion though.

Going through the config, no character of ' appears in there, so the problem still exists making the mod unusable presently.

[2016-08-03 17:50] dioticdrone commented on #19
I think this has regressed. I'm experiencing this in 1.10.2 with FEI 1.0.15, JEI 3.7.8.234, or was never fixed for 1.10.2.

[2016-08-03 18:16] Elix-x commented on #19
So, search bar isn't centered and other stuff like that?
Check that FEI loads in general, you have latest excore (which if you wouldn't have should have crashed badly - #33).
If that didn't help, i'll look into this as soon as i get workspace re-set-up.

[2016-08-03 18:49] dioticdrone commented on #19
The search bar IS centered and the top left buttons (rain, time, overlays) all work, but changing the mode (cheat/util/recipe) doesn't change JEI cheat mode so clicking an item in JEI will still show the recipe instead of cheating in a stack even when I change to cheat mode. This may be a little different than what the OP was describing, especially since I'm trying to get my pack to work locally b

[2016-08-03 19:00] Elix-x commented on #19
Tried `/feiop`?

[2016-08-03 19:31] dioticdrone commented on #19
Yeah. I found that command on the curse page when I first realized I couldn't cheat in items in cheat mode, the first time I installed FEI.

Upon further investigation: Changing the mode only gets changed (with regard to cheating in items from JEI) if you log out and back in to the world. The other functions like changing weather and time work fine when you change to cheat mode.

Sorry if this see

[2016-08-03 19:34] Elix-x commented on #19
This is very important, what you said here. I now know ~exactly what's the reason and what to do. Thanks.

[2016-08-04 16:55] dioticdrone commented on #19
Glad I could help.

[2016-08-07 02:51] DatrixTHLK opened #36 "Crash with FEI"
JEI: 3.7.10.237
FEI: 1.0.15
forge: 12.18.1.2046
Crash Log: http://pastebin.com/EuBwpMYi
CTD's every time I try to get minecraft to open up.

[2016-08-07 05:34] DatrixTHLK commented on #36
After I downgraded from 2046 to 2043 the errors went away. It is forge's update that caused mods to break. I shall close the issue.

[2016-08-07 05:34] #36 closed

[2016-08-07 08:42] Elix-x commented on #36
Duplicate of #33.

TLDR: Check that you have latest excore.

[2016-08-07 08:44] Elix-x commented on #36
Meanwhile, thanks for forge versions. Now i know that somebody's PR between 2043 and 2046 broke this.

[2016-08-11 22:17] Morpheus1101 commented on #34
With JEI having been updated a couple times since this report, the issue still exists despite removing the JEI config's

[2016-08-12 07:36] Elix-x commented on #34
You can also try deleting FEI/profiles/[each]/JEI. This may not help though.

[2016-08-12 07:51] Morpheus1101 commented on #34
Im running JEI//FEI etc all clientside only

[2016-08-12 07:53] Elix-x commented on #34
Thanks. This does not help much though.

[2016-08-12 09:31] Morpheus1101 commented on #34
I can only go by the crash report, that hasnt changed, saying invalid character, but on my screen in the report the invalid character shjows as a Square box

[2016-08-12 09:32] Elix-x commented on #34
Didn't help i suspect?

[2016-08-12 09:34] Morpheus1101 commented on #34
No, afraid it does nothing
![fei](https://cloud.githubusercontent.com/assets/10524952/17618566/d400083a-60c3-11e6-93c5-384228e3cc1b.png)

[2016-08-12 09:39] Elix-x commented on #34
And when you go to `/config/JEI/jei.cfg`, which is first/second character (you can post config if you want)?

[2016-08-12 09:41] Morpheus1101 commented on #34
[jei.txt](https://github.com/elix-x/Forever-Enough-Items/files/415017/jei.txt)

[2016-08-12 09:48] Elix-x commented on #34
I had to google this. For everybody, config reset helps. In this case it does not, meaning that it auto corrupts while generating for some reason.

So this is either JEI's or forge's issue. Try removing FEI and see if it fixes it.

[2016-08-12 09:50] Morpheus1101 commented on #34
I remove FEI it does indeed fix the issue

[2016-08-12 09:51] Morpheus1101 commented on #34
12.18.1.2050 Forge Version im using, 1.0.15 FEI, 3.8.0.241 JEI

[2016-08-12 10:10] Elix-x commented on #34
Then i don't know where it's coming from... And why nobody reported something like this before.

Last thing you may try is renaming your `config` folder to `config_` and relaunching mc (basically regenerating all configs).

[2016-08-12 10:16] Morpheus1101 commented on #34
Ok this time around what ever changed in the last 2 days removing all configs this time and regenerating did indeed solve the issue

[2016-08-12 10:16] #34 closed

[2016-08-12 10:23] Elix-x commented on #34
Glad it's fixed.

Absolutely weird bug. Hopefully no one ever meets it again.

[2016-08-12 10:23] Morpheus1101 commented on #34
Indeed, certainly not in the realm of normal for bugs

[2016-08-12 10:25] elix-x commented on #34
For some reasons, it was reading wrong character. Sources of this bug can be anywhere between forge ch

[2016-08-12 10:26] Elix-x commented on #34
For some reasons, it was reading wrong character. Sources of this bug can be anywhere between forge's charset used to NTFS bugs to hardware.

[2016-08-12 10:36] Morpheus1101 commented on #34
good god, that is such a massively wide range of area if a debug was needed to track the issue should it not have resolved itself.

[2016-08-12 10:40] Elix-x commented on #34
Yup.
(And dealing with NTFS / OS bugs is a pain, trust me).
<sub><sup>_I had to deal with some recently_</sup></sub>

[2016-08-31 23:28] yagizcamo93 opened #37 "Minecraft crashes (Help)"
I installed all of the necessary mods but it crashes in the loading screen.

[crash-2016-09-01_02.04.16-client.txt](https://github.com/elix-x/Forever-Enough-Items/files/448458/crash-2016-09-01_02.04.16-client.txt)
[latest.txt](https://github.com/elix-x/Forever-Enough-Items/files/448459/latest.txt)

[2016-09-01 07:13] Elix-x commented on #37
Duplicate of #33.

[2016-09-01 07:13] #37 closed

[2016-09-01 07:15] Elix-x commented on #37
TLDR: Update excore to 1.6.2/1.6.1.

[2016-09-01 14:53] johnlage opened #38 "Creative+ support"
Can you add support for creative+ from NEI to FEI?

[2016-09-01 15:04] Elix-x commented on #38
I'm not fully familliar with NEI's creative+ mode (never ever used it). So, please could you detail it.
If it sounds easily doable, it will be included in 1.1.

[2016-09-01 15:09] jztech101 commented on #38
@elix-x Creative+ basically switches then inventory interface from the normal creative tabbed, to your normal inventory screen, with the top half (where the player model + 2x2 crafting table normally resides) to more inventory space. and there are armor slots to the side of all of this.

[2016-09-01 15:22] Elix-x commented on #38
Ok. That actually _shouldn't_ be hard.

[2016-09-01 19:07] jztech101 opened #39 "[Feature Request] Disable Custom Permissions"
I would like to be able to use this mod as I did with NEI. I do not wish to deal with the complicated mess of feiopping everyone to do stuff, that they can do anyways using op-level commands.

[2016-09-01 19:10] Elix-x commented on #39
In your Forever Enough Items' config folder, you have `static.cfg`. This file controls FEI settings that can not be configured in-game, including permissions. By setting required level of thing to USER, everyone will be able to use that thing.

[2016-09-01 19:11] jztech101 commented on #39
I do not want everyone to use it though. I only wish for ops to use it. :/

On Thu, Sep 1, 2016 at 3:10 PM, Elix_x notifications@github.com wrote:

[2016-09-01 19:15] jztech101 opened #40 "[Feature Request] Clear search box, before putting in the @mod search terms."
Clear search box, before putting in the @mod search terms.

[2016-09-01 19:18] Elix-x commented on #40
Already implemented in 1.1.

[2016-09-01 19:20] Elix-x commented on #39
Huh. This is getting interesting...
2 features come out of it, that will be implemented in 1.1:
1. Support for selectors in command.
2. Selective auto-opping.

[2016-09-11 05:21] mezz opened #41 "JEI now has a config option to move the search bar to the center"
As of version 3.9.2, JEI has a config option to move the search bar to the center. Hopefully this simplifies things for you.

[2016-09-11 08:11] Elix-x commented on #41
It does simplify things more or less.
And i will take this into account for 1.1.

[2016-09-29 01:26] DatrixTHLK opened #42 "Looking into the Ex Nihilo Omnia/NeoTech subset menu causes crash"
You may know about this already but in case not here is the information. When looking up information on specific mods and the items/blocks they have within them, the game froze and then CTD after a few seconds. Specificly these two mods ATM.

Version of Minecraft: 1.10.2
Version of FEI: 1.0.15
Version of JEI: 3.12.0.282
Version of Forge: 12.18.1.2094
Crash Report: http://pastebin.com/qr4DZetY
FML

[2016-09-29 15:31] Elix-x commented on #42
No, that's new.
Will be (is) fixed in 1.1.

[2016-09-30 06:11] DatrixTHLK commented on #42
Thanks for the response and fix. I really like this mod.

[2016-09-30 17:36] firedarkness98 opened #43 "Problem with FEI"
http://pastebin.com/XEwbvgD

Hello elix-x,
I post this like you recommend me to do. What I put in the link is what i got when I tried to open  minecraft with the mods Forestry, Mantle (which  is necessary for Forestry or tinker construct I dont remember), tinker construct, mapwriter2 and the five mods who are needed if we want FEI ( which are Forever enough items, just enough items, light level ov

[2016-09-30 17:42] Elix-x commented on #43
Thank you very much for reporting it on github. I'll look into details in just a moment.

[2016-09-30 20:11] Elix-x commented on #43
Did you set time out or something happened? Anyway, please reupload logs (i did not download them).

Also, while i'm here, CEI & LLOR are optional. So you can remove them if you don't need them.
Now, i know that i already said that on curse, but make sure that you have latest Excore & JEI.
Thank you.

_Meanwhile i'm thinking of pushing 1.1 alpha version..._

[2016-09-30 22:12] firedarkness98 commented on #43
http://pastebin.com/mBRkLgnY

For excore and JEI, i think tha t i have the latest version because i redownloaded them yesterday.

[2016-09-30 23:58] DatrixTHLK commented on #32
I guess neither one had an answer.

[2016-10-01 10:31] Elix-x commented on #32
I guess. Also the crash is gone (second time pastebin does this to me in 24 hours), please reupload (if you still have it) so i can either fix it on my side or PR fix to responsible mod.

[2016-10-01 10:33] Elix-x commented on #43
Are you sure that it's client-latest.log (can be called fml-client-latest.log)?

[2016-10-01 11:11] mezz commented on #32
I remember looking at it earlier but had no idea what would have caused the issue.

[2016-10-01 18:37] drakray opened #44 "When opening world, game hang, no CTD"
This get generated, but the game stay open, completly frozen before even redering world
http://pastebin.com/Fw75B8cS
got that since past JEI 286(last working version)

[2016-10-01 19:20] Elix-x commented on #44
Does this happen everytime you open world?
Does this not happen if you remove FEI?

[2016-10-01 19:24] drakray commented on #44
everyworld I tried to open, even new world
no more crash after I disabled(remove) FEI

[2016-10-01 19:26] Elix-x commented on #44
Does this happen if you downgrade JEI (if you can)?
Does this happen with this build of JEI, but only with FEI & JEI (and required mods)?

Thanks.

[2016-10-01 20:01] drakray commented on #44
If I rollback to JEI 286 all work fine
I don't know about removing other mods, as my personal pack have 63 active

[2016-10-01 20:15] Elix-x commented on #44
Ok thanks. That's enough information.

I'll have to roll out either 1.1 alpha or 1.0.16 tomorrow, which will fix this.

[2016-10-02 13:43] Seaer1 opened #45 "Crash with item subsets"
[crash-2016-10-02_16.02.29-client.txt](https://github.com/elix-x/Forever-Enough-Items/files/504989/crash-2016-10-02_16.02.29-client.txt)
Every time i try to use shift left click under item subsets on any mod it just crashes the game instead of displaying the selected mods content.

Other info:
Minecraft:1.10.2
forge:1.10.2-12.8.1.2094
JEI:1.10.2-3.12.3.292
FEI:1.0.15-1.10.2

[2016-10-02 14:01] Elix-x commented on #45
Please post crash report.

[2016-10-02 14:15] Seaer1 commented on #45
@elix-x added crash report to the first comment.

[2016-10-02 14:22] Elix-x commented on #45
Duplicate of #42.

[2016-10-02 14:23] Elix-x commented on #45
Will be / is fixed in 1.1 and 1.0.16 which will be released today.

[2016-10-02 16:04] DatrixTHLK commented on #32
I will then need to re-download Chisel and bits mod. Will do so once this mod is updated to see if that might first fix said issue. Thanks for the response.

[2016-10-02 16:30] #30 closed

[2016-10-02 16:30] #31 closed

[2016-10-02 16:30] #41 closed

[2016-10-02 16:30] #40 closed

[2016-10-02 16:30] #42 closed

[2016-10-02 16:30] #45 closed

[2016-10-02 16:33] Elix-x commented on #44
I released 1.0.16. Please confirm this is still a bug.

[2016-10-02 16:34] Elix-x commented on #43
I released 1.0.16. Please confirm this is still a bug.

[2016-10-02 16:34] Elix-x commented on #32
I released 1.0.16. Please confirm this is still a bug.

[2016-10-02 17:41] drakray commented on #44
I can get in game, so i'd say it's fixed, thanks! :D

[2016-10-02 17:41] #44 closed

[2016-10-02 17:49] Elix-x commented on #44
You're welcome!

[2016-10-02 18:15] DatrixTHLK opened #46 "No response from Java after step 7/7 Launching minecraft"
Minecraft 1.10.2
Forge: 12.18.1.2094
JEI: 3.12.3.292
FEI: 1.0.16

FML: https://gist.github.com/DatrixTHLK/7ea21499a6b3105351165dc5d02f5e45

The only mod I've updated (meaning I just downloaded your mod and deleted the old version off my computer) today was yours. Chisel and bits didn't cause the issue as I've tested it.

[2016-10-02 18:16] Seaer1 opened #47 "Incorrect mod names"
when right click mod under item subsets @ command show incorrect mod name for certain mods, for example enchanting plus becomes @eplus which doesn't work. So i  think it doesn't like space or the "and" symbol.

[2016-10-02 18:19] Elix-x commented on #47
I know why it is. FEI is putting mod _ids_ into search box, while JEI now searches by only mod _names_.

[2016-10-02 18:21] Elix-x commented on #46
So MC hangs. For how long? Does it respond eventually? Or it stays like it forever?

[2016-10-02 18:23] DatrixTHLK commented on #46
Stays like that forever. Then my computer lags a bit and I have to close out of minecraft

[2016-10-02 18:23] DatrixTHLK commented on #46
without the mod minecraft won't hang up on me.

[2016-10-02 18:37] Elix-x commented on #46
Ok, this is a bit weird. Seems like cross mod interaction to me.

Do you have latest latest JEI build (from today)?

If you remove all mods besides FEI & dependencies, does it hang up?

[2016-10-02 21:19] DatrixTHLK commented on #46
If JEI is at v. 3.12.3.292 today then yes this is the latest version of the mod for today since 19 hours ago. With just your mod jei excore and LLoverlay the game doesn't hang up on me at step 7/7...of course...which just means I'm going to go through each mod to figure out what the cause is and let the author of that mod know about it. Thanks for the help.

**Edit (5:43pm):**  So far the only mod

[2016-10-03 01:58] DatrixTHLK commented on #43
I confirm this works.

[2016-10-03 02:13] DatrixTHLK commented on #32
I can confirm it is working now but there is this flickering game screen when looking at it. Most likely a graphical bug. I'm trying to determine at this point what mod would cause that issue with the game. I have a feeling it is chisel and bits.

**Edit 11:15pm**: Chisel & Bits gave me that weird graphical bug. Once it was taken out the graphical issue went away.

[2016-10-03 16:43] Elix-x commented on #46
If you report it to [base metals' github](https://github.com/cyanobacterium/BaseMetals), please reference this issue with elix-x/Forever-Enough-Items#46.
That way, i'll be informed of the progress and will be able to help if it turns out issue is partially on my side.
Thanks!

[2016-10-05 02:39] DatrixTHLK commented on #32
Looks like AlgorithmX2 is still having the same issue as I did where having FEI and his mod installed just crashed the game when looking into subset menu. Seems like this mod and chisel and bits aren't cooperating.

[2016-10-05 03:57] DatrixTHLK commented on #32
Latest issue with Chisel and bits 12.4 crashed me to desktop when looking into Item subset menu chisel and bits

Minecraft 1.10.2
Forge: 2095
JEI 3.12.5.298
FEI 1.0.16
Chisel & Bits: 12.4

Crash Report: https://gist.github.com/DatrixTHLK/3772909e52de83d2fb7ba727e2cf6158

[2016-10-05 16:01] Elix-x commented on #32
@DatrixTHLK thanks!
@mezz First 3 issue lines are from forestry, and it's because of incorect state?.. It seems that it's most likely issue on forestry's part...

[2016-10-05 22:49] mezz commented on #32
Any blockstate will crash if you give it an invalid variant, I don't think this is from Forestry. Does Chisels and Bits have any Forestry-specific code?

[2016-10-05 22:50] mezz commented on #32
I'll take a closer look when I get home, since Forestry is setting the variant.

[2016-10-07 21:57] AlgorithmX2 commented on #32
I don't have any mod specific code, that crash is pretty unusual, Are the creative tabs crashing? or just FEI?

[2016-10-07 22:43] mezz commented on #32
I added some defensive code on Forestry's side, should prevent this from crashing.
In Forestry 5.2.14.265

[2016-10-10 12:36] DatrixTHLK commented on #32
So far Just when I look into FEI @AlgorithmX2. Well if it is forestry then thanks for the precautionary method @mezz

[2016-10-21 18:32] jdratlif opened #48 "crash on change icon"
FEI crashes minecraft when you try to change the profile icon.

Steps to reproduce:

Start Minecraft
Open Inventory Screen
Open Profile Edit Screen
Select Profile
Left click on icon
CRASH

Happens every time I've tried it.

MultiMC log, Crash Log, and latest.log from Minecraft are in this archive
http://games.technoplaza.net/temp/fei-iconcrash.zip

Minecraft Info:

Minecraft 1.10.2
Forge 2099
JEI

[2016-10-21 18:39] jdratlif opened #49 "crash without ExCore installed"
When starting Minecraft with FEI but without ExCore, Minecraft crashes on startup. Perhaps the logs are clear to some people, but they weren't clear to me what the problem was. Then I remembered you needed ExCore, which fixed the problem.

Would you consider adding a message from Forge when you don't have ExCore installed saying you that need ExCore rather than just crashing? I've seen many other

[2016-10-21 18:51] Elix-x commented on #49
Forge is handling helpful screens, and while for TC, RFTools and others it works, it does not for FEI (and FEI specifically).
It's partially a forge bug, which still has not been fixed.
I would be thankful if you provided logs you based on, so i can either fix it in FEI or PR a fix to forge.
Thanks.

[2016-10-21 19:49] Elix-x commented on #48
Probably caused by newer JEI version.
Try downgrading to JEI 293, and see if this helps.

Will be fixed in next version in any case.

[2016-10-21 20:32] jdratlif commented on #49
Attached crash logs. Didn't consider this could be a forge bug so I didn't bother with logs before. Sorry.

http://games.technoplaza.net/temp/fei-noexcorecrash.zip

Thanks.

[2016-10-21 20:36] Elix-x commented on #49
No problems. Thanks for the report.
Crash line is from forge, so it's 50% forge bug.
I'll look into details when i'll have more time. Thanks for the crash meanwhile.

[2016-10-21 20:40] jdratlif commented on #48
I see they released a new stable last week, version 323, but it still crashes with that version. It works on 297, the last stable release before 312.

Thanks.

[2016-10-21 21:03] Elix-x commented on #48
Thank you. That's all information i needed.

This will be fixed in the next version.

[2016-10-23 09:23] DatrixTHLK opened #50 "Crash with FEI and JEI"
Hi Mezz,

Thought I'd let you know about this. JEI updated.
https://github.com/mezz/JustEnoughItems/issues/535

Minecraft 1.10.2
Forge: 12.18.2.2107
JEI: 3.12.8.238
FEI: 1.0.16

**EDIT:** (I meant this for you Elix_x). Apparently my cold is worse than I thought it was and the brain, it is fried.

[2016-10-23 09:29] Elix-x commented on #50
Thanks for the report. I think i'll release 1.0.17 whenever i'll have access to my workspace, with more bugfixes.

[2016-10-23 09:35] DatrixTHLK commented on #50
Sounds good, thanks for the quick response time.

[2016-10-23 20:37] Spaxey opened #51 "Crashes on startup"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  MalisisCorePlugin (malisiscore-1.8.9-2.1.6.jar)
  MalisisSwitchesPlugin (malisisswitches-1.8.9-1.0.1.jar)
Contact their authors BEFORE contacting forge

// Hey, that tickles! Hehehe!

Time: 10/23/16 3:28 PM
Description: There was a severe problem during mod loading that has caused the game to fail

net.minecraftforge.fml.common.Loa

[2016-10-23 20:40] Elix-x commented on #51
Duplicate of #50.

TLDR: Will be fixed in 1.0.17.

[2016-10-23 21:03] Spaxey commented on #51
Cool. When do you think that might be out?

[2016-10-23 21:08] Rumpelstiltskinny commented on #43
#https://github.com/Elix-x/Excore/issues/3

nope, latest JEI (jei_1.10.2-3.12.8.328.jar) breaks FEI/Excore

[2016-10-23 21:11] Rumpelstiltskinny commented on #50
ok @Elix-x, I see that you've seen this issue that I just duplicated @ #https://github.com/Elix-x/Excore/issues/3

_update: After looking further into this issue I see that it's related but not indentical (NoSuchFieldException: uidCacheEnabled) to my issue ref'd above. **AND** the latest JEI (###.328) is significantly smaller filesize (ok, only 4KB smaller) than the previous 327 build. Makes me wo

[2016-10-24 00:39] DatrixTHLK commented on #50
oh...I see, so someone has hacked the mod authors accts. and put in malicious code into their mods. Apparently, these hackers have a lot of spare time...well, that is what happens with the more popular mods out there. I'll need to be more careful in the future. Thanks @Rumpelstiltskinny

[2016-10-24 00:41] DatrixTHLK commented on #43
I cofirm this as well.

[2016-10-24 01:33] DatrixTHLK commented on #51
Possibly in a few days or whenever he gets to his work space. Make sure to use gist.github.com when pasting a crash log or pastefs.com or pastebin.com. It will save on unnecessary space used in the github forum

[2016-10-24 07:59] Elix-x commented on #50
@Rumpelstiltskinny It's more or less same type of problem, so i closed it there and will fix em all in one go.
A few KB difference may easily happen, so don't worry... _Also, i'm first time hearing that curse account was hacked... Weird..._

[2016-10-25 17:02] Elix-x commented on #51
So i fixed bugs reported on github and then found a few others.
I will not be able to release .17 today, but i guarantee that it will be released tomorrow.
Thanks for your patience.

[2016-10-26 15:50] #46 closed

[2016-10-26 16:51] Elix-x commented on #16
1.8.9 is no longer supported.

[2016-10-26 16:51] #16 closed

[2016-10-26 16:51] Elix-x commented on #16
If you are still experiencing this in 1.10.2, please open a new issue, with relevant crash & logs.
Thank you.

[2016-10-26 17:12] #19 closed

[2016-10-26 17:12] #43 closed

[2016-10-26 17:12] #48 closed

[2016-10-26 17:12] #50 closed

[2016-10-26 17:12] #51 closed

[2016-10-27 09:46] Insane-96 opened #52 "java.lang.NullPointerException: Initializing game with FEI 1.0.17"
JEI version is 3.13.0.334
FEI version is 1.0.17
ExCore version is 1.6.2

[code]

[2016-10-27 09:53] Elix-x commented on #52
Hotfixed in 1.0.17.1 (https://github.com/Elix-x/Forever-Enough-Items/commit/d2beb4d32292247d4739c82310de84791fe9f070).

[2016-10-27 09:53] #52 closed

[2016-10-27 17:00] Spaxey commented on #51
Do you have the update for 1.8.9...? I can't find it.

[2016-10-27 17:36] Elix-x commented on #51
Sadly, i don't support 1.8 anymore.

[2016-10-27 23:26] DatrixTHLK opened #53 "Crash with FEI"
Hello again, Elix_x,

https://gist.github.com/DatrixTHLK/3ed469ae13abe206a38341202d875a47

Minecraft: 1.10.2
Forge: 12.18.2.2114
JEI: 3.13.0.334
FEI: 1.0.17

Goes up to step 6 of 7 and crashes on me (Finishing Up step.)

[2016-10-28 00:20] Spaxey commented on #51
Why not..?

[2016-10-28 07:21] Elix-x commented on #53
This was fixed in FEI 1.0.17**.1**.

[2016-10-28 07:21] #53 closed

[2016-10-28 07:25] Elix-x commented on #51
Most of 1.8.9 mods are already on 1.10.2. And 1.8.9 is still different enough that maintaining it in parallel would (almost) double the time required (for me).

Yes, thaumcraft, buildcraft, AoD..., i know, that's why most.
But they will come to 1.10.2 eventually.

[2016-10-28 18:10] DatrixTHLK commented on #53
Oh...? I had no idea you updated. Thanks for letting me know though.

[2016-11-03 13:45] OfficalEsco opened #54 "Newest version of JEI crashes with FEI"
The Newest version of JEI is crashing FEI (Yes i downgraded to jei_1.10.2-3.13.0.341 and it worked)

I'll be reporting this to you both

https://gist.github.com/OfficalEsco/3f19b73f49b0286023730f470b808739

[2016-11-03 14:22] TDStewart commented on #54
Reported to both.  Works with JEI 342 but not 343.

https://gist.github.com/TDStewart/d052befe1a39645ed9ee68906d072316

[2016-11-03 23:37] DatrixTHLK commented on #54
Can confirm this, but JEI isn't the cause of it. https://gist.github.com/DatrixTHLK/9c9828395f15dff5aa7275190f8cfc42

Well with JEI updating it was bound to break FEI at some point.

[2016-11-05 13:58] #54 closed

[2016-11-10 00:01] Viking8 opened #55 "MC Crashing with FEI"
Greetings,

I have MC 1.10.2 with both forge-1.10.2-12.18.2.2099 and forge-1.10.2-12.18.2.22133 installed. It doesn't seem to matter what other mods are in my mods folder, FEI crashes minecraft everytime. I take it out and minecraft loads just fine. I tried it out on 3 other PC's that my nephews use to play with me when they come over, but it's the same story for all of them. Not sure what to do n

[2016-11-10 16:36] Elix-x commented on #55
Duplicate of #49.

TLDR: Please install latest Excore and JEI builds. This will fix it.

So this still was not fixed... Huh... Hopefully it will be finally fixed in 1.1.

[2016-11-11 00:16] Viking8 commented on #55
That did the trick! I didn't realize I was on older versions of those two mods. It can be hard to find the newest versions sometimes with so many sites having versions to download. Sorry about the duplicate by the way!

[2016-11-11 08:34] Elix-x commented on #55
No problems!

Also, there is only one official place for download - curse/curseforge (they are kinda the same). All others are "illegaly" reposting mods (more about it here - http://stopmodreposts.org/).

[2016-11-11 08:34] #55 closed

[2016-11-14 10:21] #32 closed

[2016-11-15 11:58] DatrixTHLK opened #56 "Error when searching for items in the search bar"
Hello,

If you knew of this already, then you may close the issue and I can wait.

No crashing occurs when searching for items, however, when searching for an item or group of items in the search bar no results show and nothing actually happens. This worked prior to JEI 3.13.3.365

Picture of Issue: http://tinypic.com/r/t65xc0/9

Minecraft: 1.10.2
Forge: 12.18.2.2125
JEI: 3.13.3.373
FEI: 1.0.17.2

[2016-11-15 18:13] Elix-x commented on #56
And if you wait a while, does it still not show anything?

[2016-11-15 20:07] DatrixTHLK commented on #56
Not exactly, when I exit out of the inventory screen and enter back into the inventory the item or group of items searched for disappears. It's as if I never typed anything in at all. All-in-All the short and simple answer is no.

[2016-11-15 20:19] Elix-x commented on #56
That makes sense...
I mean i now know what's happening.
Will be fixed.

[2016-11-15 20:45] DatrixTHLK commented on #56
Thanks for the response and the fix. =)

[2016-11-17 22:40] 7OOTnegaTerces commented on #56
I believe I'm having the same issue, but with a few additional details that you may (or may not) find useful.  I've been using FEI 1.0.17.1 (with JEI 3.13.0.342) on Minecraft 1.10.2 for a while with no problems.  Today, however, when I upgraded to FEI 1.0.17.2 (with JEI 3.13.3.376), the search function froze.  That is, FEI filtered the list based on whatever had been in the search bar before I upg

[2016-11-17 22:43] 7OOTnegaTerces commented on #38
I'd be interested in something like this too!!!  Or what about having the armor and offhand slots always along the middle of the left side of the creative inventory, visible and accessible no matter what tab you're looking at?

[2016-11-18 02:31] DatrixTHLK commented on #56
That is basically what I said only in more of a descriptive sense.

[2016-11-18 17:59] Elix-x commented on #56
@7OOTnegaTerces @DatrixTHLK Will be fixed with 1.1 for 1.11.

[2016-11-18 18:01] Elix-x commented on #38
@7OOTnegaTerces Creative+ - 1.1 for 1.11. Duplicating armor & offhand slots - i'll see. In any case, not in the first alpha.

[2016-11-18 19:59] DatrixTHLK commented on #56
Sounds good. Thanks again.

[2016-11-18 22:47] 7OOTnegaTerces commented on #38
What, no!!!  1.10.2, PLEASE!!!!  (Though if you can't, I understand, it's no biggie...)

[2016-11-18 22:49] 7OOTnegaTerces commented on #56
NOOOOO!!!! Okay, this I REALLY need fixed in 1.10.2!!!  I've a lot of mods, and it will be a WHILE before they all move up to 1.11.  Couldn't you do this one little fix?!?  PLEASE?!?

[2016-11-19 09:36] Elix-x commented on #38
@7OOTnegaTerces Do you remember how fast mods moved from 1.9 to 1.10.2? Now multiple that time by 1.0000000000000000000000000000000000000000000000000000000001563 and that's exactly how much it will take mods to move to 1.11 ;).

[2016-11-19 09:37] Elix-x commented on #56
@7OOTnegaTerces Do you remember how fast mods moved from 1.9 to 1.10.2? Now multiple that time by 1.0000000000000000000000000000000000000000000000000000000001563 and that's exactly how much it will take mods to move to 1.11 ;).

It will probably will take more time for me for fixing this in 1.10.2, then for all of your mods moving to 1.11. But i'll see.

[2016-11-19 09:39] 7OOTnegaTerces commented on #56
THANKS Elix-x!!! I don't have as much faith, but maybe I'm just overly pessimistic (or impatient, take your pick)...

[2016-11-20 00:41] DatrixTHLK commented on #56
I feel your pain @7OOTnegaTerces I wonder if 1.11 can handle 1.10's mods...just like 1.9.4 mod's did for  1.10.2.

[2016-11-24 07:33] Malkierian opened #57 "/feiop on Single Player "Something went wrong""
And that's all I get.  No op privileges, no utilities functionality, and as far as I can tell, nothing in the logs.  Is there a reason why you can't assume OP for single-player for the player?

[2016-11-24 15:52] Malkierian commented on #57
For the record, it's not terribly clear that all you have to do on single player is /feiop with no arguments...  Still, the question stands, why not just assume the permission on SP?

[2016-11-24 15:59] Elix-x commented on #57
@Malkierian Are cheats enabled? Running with no args means running only `/feiop`.

If cheats are enabled and you're in creative, you should be auto opped. Though sometimes it takes some time before it auto ops you after opening a world.

[2016-11-24 18:44] Malkierian commented on #57
Yes, I know what running with no args, but the instructions on your Forge page don't say that clearly.  `/feiop (single player/lan)` didn't mean only `/feiop` to me.  I was trying to put in "lan" or "singleplayer" or whatever as an arg XD

But, I wasn't in creative, I was in survival, so I guess that explains not auto-opping.  I just figured, since the whole point of it was to have a few cheat-lik

[2016-11-24 18:51] Elix-x commented on #57
So is everything working now?

[2016-11-24 19:26] Malkierian commented on #57
Yes, it works, though I would request some clarification in the instructions.

[2016-11-24 19:26] #57 closed

[2016-11-24 19:29] Elix-x commented on #57
Ok. Will take this into account.

[2016-12-02 20:07] majix560 opened #58 "[Suggestion] Add a global B:cheatItemsEnabled=true function to cheat mode profile"
Please add a global B:cheatItemsEnabled=true function to the cheat mode profile.
Mezz has asked that I go through due process and ask your first.
https://github.com/mezz/JustEnoughItems/issues/648

[2016-12-02 20:15] Elix-x commented on #58
I'll have to explain a few things. But first i want to make sure:
You want to have enable cheat items mode for ALL profiles, right?

[2016-12-02 20:16] GazbonicAcid commented on #58
No.
Only for Cheat Mode profile,
but globally across all **_worlds_** without needing to manually set it each time I log into a new world for the first time.

[2016-12-02 20:25] Elix-x commented on #58
Then what you need isn't affected by config you're asking for. Not at all.

[2016-12-02 20:27] Elix-x commented on #58
I call it JEI overlay override, because i override JEI overlay **COMPLETELY**.
The only 2 things that you need with FEI to cheat items in are (**both** have to be true):
- Profile -> Element Settings -> JEI Override -> Allow Give/Delete Items
- /feiop

[2016-12-02 20:28] Elix-x commented on #58
Now, if `B:cheatItemsEnabled` actually affects something, this is a bug.

[2016-12-02 20:29] GazbonicAcid commented on #58
I would like to wholeheartedly apologize for my misunderstanding.
I added B:cheatItemsEnabled=true to the cheat mode global jei.cfg while the cheat mode profile was loaded.
It would appear that the issue I was having was that since I was already in cheat mode profile,
FEI did not see the need (which there was none) to re-override the jei config.
I didn't even originally bother to try switching pro

[2016-12-02 20:31] GazbonicAcid commented on #58
That means this issue can be labeled "invalid" and closed.

[2016-12-02 20:33] GazbonicAcid commented on #58
unless ofcourse if FEI is supposed to ignore JEI's B:cheatItemsEnabled setting.
Edit:
If that's the case,
then every version combination of FEI and JEI I've *ever* used has had this bug.

[2016-12-02 20:36] Elix-x commented on #58
@majix560 `unless ofcourse if FEI is supposed to ignore JEI's B:cheatItemsEnabled setting` it is. What happens when you change it's value?
And what happens if then you change settings with JEI override settings in-game?

[2016-12-02 20:39] GazbonicAcid commented on #58
If the world config says B:cheatItemsEnabled=false and the setting is *not* in jei global config,
*including* in the jei config ovveride,
then I am completely unable to cheat items in until I set B:cheatItemsEnabled to true in the jei config file overide.
This is even while the non-config-file JEI override option "Can Give Items" is checked.
Though once I set B:cheatItemsEnabled to true in the con

[2016-12-02 20:42] Elix-x commented on #58
In the inventory screen, is there JEI settings button (with wrench icon)?

[2016-12-02 20:42] GazbonicAcid commented on #58
no

[2016-12-02 20:43] GazbonicAcid commented on #58
to set options in jei config, I edit cheat-mode profile, edit JEI override, then left click on the "JEI" button on that page.
Edit:
There's also the choice of manually editing said config file.
*Including* in the FEI jei profile override files.

[2016-12-02 20:47] Elix-x commented on #58
That should be enough details. Will be fixed in next release (alpha).
Which MC version are you using?

[2016-12-02 20:48] GazbonicAcid commented on #58
1.10.2

[2016-12-02 20:49] Elix-x commented on #58
Thanks!
Sadly, next release (alpha) will be for 1.11, and i won't be able to fix it in 1.10.2.

[2016-12-02 20:50] GazbonicAcid commented on #58
Oh well, at least I have the work around of adding the jei built-in cheat option to cheat mode profile's override for the jei global config.

[2016-12-02 20:53] GazbonicAcid commented on #58
I have a question though.
Why the default saved inventory of a torch in the off-hand slot named a seemingly uuid long string,
with a 2 character censored name for the button,
specifically only in utilities mode?
I'm assuming it was something from the dev environment to test something that you didn't take out.

[2016-12-02 21:01] Elix-x commented on #58
_I wonder what decrypting this would give you?_

[2016-12-02 21:03] GazbonicAcid commented on #58
So basically it's an easter egg then?

[2016-12-02 21:07] Elix-x commented on #58
_That may or may not have been there for 7 months now._

[2016-12-04 15:18] majix560 opened #59 "[Bug] Search bar does not work when manually typed"
When I manually type a search entry into the search bar it doesn't work at all.
Though the Item SubSets still works.
And backspacing the entry it makes clears the search.
But when I go to manually search by mod it doesn't work.
I am experiencing this is in my modpack.
[Township Farms version Dev_08-2016_12_04](https://www.atlauncher.com/pack/TownshipFarms/#7816)

[2016-12-04 15:26] Elix-x commented on #59
Pretty sure this is also a bug introduced with me not catching up to JEI.

[2016-12-04 15:45] majix560 commented on #59
The thing about jei's cheat mode being used, seems I was premature in stating it.

[2016-12-14 18:15] DatrixTHLK commented on #59
Just out of curiosity @majix560 do you have EZStorage2 in the specific modpack? The reason I ask is because when I search for items using the search mode in EZStorage 2's Storage core it will work, but not in the FEI Search bar below. I had to click on the JEI Search Link in order for it to work and then type out my query, or the item searched for within the search bar in EZStorage's search functi

[2016-12-14 18:42] GazbonicAcid commented on #59
No it isn't in the pack,
and even if it was it would only help when accessing an ez-storage system.
Which means that since I'm not adding it any way,
I still won't add it just to work around this issue.

[2016-12-14 18:59] DatrixTHLK commented on #59
True. It only helps when accessing the system itself. It is a temporary work around until this mod updates again. I understand though. I don't like workarounds myself and would rather avoid it.  Anyways, only thing to do now is wait.

[2016-12-14 19:18] DatrixTHLK commented on #56
Just out of curiosity @7OOTnegaTerces do you have EZStorage2?

The reason I ask is because when I search for items using the search mode in EZStorage 2's Storage core it will work, but not in the FEI Search bar below. I had to click on the JEI Search Link in order for it to work and then type out my query, or the item searched for within the search bar in EZStorage's search function. Let me know i

[2016-12-20 00:28] DatrixTHLK commented on #56
In a few days I'm going to head up to version 1.11. I want to see the new stuff it has. Can't stay stuck in the same version forever now can we? ;)

[2016-12-20 09:05] Elix-x commented on #56
@DatrixTHLK I agree, but my TODO list kinda does not. I have 2 mods to finish updating to 1.11 as quickly as possible. Aaaand i have some other stuff that also has to be done better as fats as possible. Like editing & uploading something to youtube.

[2016-12-20 09:35] 7OOTnegaTerces commented on #56
I that case, I think you might find this mod of great use: [CompatLayer](https://minecraft.curseforge.com/projects/compatlayer?gameCategorySlug=mc-mods&projectID=253729).  It makes the same mod capable of running on both 1.10 and 1.11 (provided you do a few formatting tasks)! I beg of you, please make use of this feature to make your latest versions backwards compatible with 1.10, I'm still waitin

[2016-12-20 09:37] 7OOTnegaTerces commented on #56
Oh, and @DatrixTHLK, I'm not using EZStorage2, I'm using Refined Storage.

[2016-12-20 09:46] Elix-x commented on #56
@7OOTnegaTerces FEI does not require almost any modifications. It's 1.1 features that take most of time. The other mod though, is not a mod that can be supported by compat layer in any way.

@7OOTnegaTerces @DatrixTHLK Also, i will be unable to make any of my 1.11 mods backwards compatible not due to mc or forge but due to some huge internal refactorings.

And BTW, Excore is already out for 1.11 😉

[2016-12-20 09:48] 7OOTnegaTerces commented on #56
@Elix-x what other mod?!?

[2016-12-20 10:01] Elix-x commented on #56
@7OOTnegaTerces Very simple to find: I'm not working on it alone and it also has a github repo.

[2016-12-20 10:04] 7OOTnegaTerces commented on #56
You mean applied energistics?!?  Where did that come from?  When did we start talking about that mod?  I'm not even using it... (Refined Storage).

[2016-12-20 10:05] Elix-x commented on #56
@7OOTnegaTerces Yup. That is the other mod that i'm trying to finish updating.

[2016-12-21 04:08] DatrixTHLK commented on #56
I've tried Compat layer and it doesn't work, at least for the mods I use anyways. Also, it won't help with FEI and JEI, seeing as FEI isn't right since JEI updated. Thanks for the suggestion though. @7OOTnegaTerces

@Elix-x I'm one of those people who don't mind if you don't make mods backwards compatible as I like to go to newer versions. I've already downloaded Excore in preping for FEI when it

[2016-12-21 04:16] DatrixTHLK commented on #56
I'm one of those people who don't mind if you don't make mods backwards compatible as I like to go to newer versions rather than staying stagnant in the same version for well over three years. I've already downloaded Excore in preping for FEI when it comes out for 1.11. Thanks for the update by the way.

[2016-12-24 19:34] Elix-x commented on #15
Without any new reports, this will be considered as fixed.

[2016-12-24 19:34] #15 closed

[2016-12-24 19:36] Elix-x commented on #56
@7OOTnegaTerces @DatrixTHLK [![1.1](https://i.imgur.com/Je20BuQ.png)](https://twitter.com/Elix_x_mc/status/812711830904680449)

[2016-12-24 19:36] Elix-x commented on #59
@DatrixTHLK @majix560 [![1.1](https://i.imgur.com/Je20BuQ.png)](https://twitter.com/Elix_x_mc/status/812711830904680449)

[2016-12-24 19:36] Elix-x commented on #38
@johnlage @7OOTnegaTerces [![1.1](https://i.imgur.com/Je20BuQ.png)](https://twitter.com/Elix_x_mc/status/812711830904680449)

[2016-12-24 19:36] Elix-x commented on #56
@7OOTnegaTerces @DatrixTHLK [![1.1](https://i.imgur.com/Je20BuQ.png)](https://twitter.com/Elix_x_mc/status/812711830904680449)

[2016-12-24 19:46] 7OOTnegaTerces commented on #56
See how infrequently FEI updates and how often it falls behind JEI (and I mean no criticism @Elix-x), I've stopped using it all together. Honestly, beyond built in button support for LLOR and MO, I really don't see what FEI does that JEI doesn't. Maybe I'm missing something, but if that's the case then obviously whatever that thing is it isn't anything I need or use. Sorry, but I really need to cu

[2016-12-24 20:23] Elix-x commented on #56
@7OOTnegaTerces I completely understand you. Just to clarify, i'll quote "FEI adds what JEI didn't take from NEI". JEI only ported item list from NEI. FEI ports utilities grid (on top left) - buttons for switching gamemodes, time, weather, magnet mode... Inventory saves and mods list. These are less used features of NEI, so it's very possible you can live without them.

Infriquent updates? I can o

[2016-12-24 20:35] 7OOTnegaTerces commented on #56
@Elix-x Ah, well, JEI Buttons adds all of that stuff back save for the mod list at the top (and just what does that do anyway?) and buttons for LLOR and MO. And of those two, I only really used the buttons, which I can just assign to keys.

[2016-12-24 20:45] Elix-x commented on #56
@7OOTnegaTerces Mods list lists all mods and items assigned to them.

Reminder: JEI Buttons came out a while after FEI. That should explain some of things.

[2016-12-24 20:51] #47 closed

[2016-12-24 20:51] #49 closed

[2016-12-24 20:51] #56 closed

[2016-12-24 20:51] #58 closed

[2016-12-24 20:51] #59 closed

[2016-12-25 00:54] GazbonicAcid commented on #59
If this fix is not for 1.10.2, I'm complaining.

[2016-12-25 01:15] GazbonicAcid commented on #39
I would like to add my request for built-in support for server permissions system...
For 1.10.2 ofcourse.
The Custom Starting Gear had its own built in permissions node I could use on my SpongeForge server.
I'd like the same kind of permissions node for FEI without the need of using /feiop from console.

[2016-12-25 03:40] DatrixTHLK commented on #59
It isn't. Not that I know of...I'm not going to bother defending this mod author for his choices. It's his choice. If you want to complain go right ahead, but know that it will do you no good in the long run.

[2016-12-25 09:14] Elix-x commented on #59
@majix560 Sadly no. And i'm unable to fix this in 1.10.2.

[2016-12-26 08:52] DatrixTHLK commented on #56
Just Enough Widgets aka Buttons came out after FEI did as well.

[2017-01-14 16:15] Neuron67 commented on #19
Everything working except the search bar.
Have the latest excore and JEI installed but search does nothing.
I've followed every link and read every word on every issue but haven't found a solution.
Anybody know how to fix?

[2017-01-14 17:08] Elix-x commented on #19
@Neuron67 Minecraft 1.11.2? If yes, please create a new issue.

[2017-03-08 01:03] Tsoccerguy3 opened #60 "Needs update to deal with new JEI jei_1.11.2-4.2.7.241.jar"
FEI , JEI hangs forever trying to load Forge 1.11.2 13.20.0.2255 . 63 errors on compile with dependency updates

[2017-03-08 17:52] Elix-x commented on #60
I know that FEI is not compatible with latest JEI right now. But i've been focusing on other stuff lately - moving everything out of alpha stages. FEI is soon on my todo list and when i get to it, i will rewrite JEI override system to make it more flexible.

[2017-07-12 18:05] inmento opened #61 "More of a question than an issue."
I know you're currently working on other things as well as fixing the FEI incompatibility with the new JEI.

I get you're busy, but do you have an estimated arrival of FEI for 1.12, if it'll ever get to 1.12?

[2017-07-12 18:31] Elix-x commented on #61
Personally, i don't know.
JEI incompatibility was fixed a while ago. And i already checked - i don't have to fix it if i port FEI to 1.12.

But the questions if more of - is it still needed. I mean, how many people would like FEI for 1.12?
Would my situation be like a year ago - i would have already updated it. But now, i'm having less and less time to dedicate for modding. So, if i want to keep a

[2017-07-30 16:04] magneticflux- commented on #61
@Elix-x From my limited experience, the move from 1.11.2 to 1.12 is very easy. A few classes changed names, but not much else needs to be done unless there's some serious hacking going on. I'd appreciate a 1.12 version, and a lot of other mods are already moving to 1.12.

[2017-07-30 16:10] magneticflux- opened #62 "Add Gradle Wrapper"
The Gradle Wrapper is a lightweight script that allows you and other developers to specify the version of Gradle to run the project with. It's usually included in the Github repository so developers have a consistent build environment, but it's missing from your repository. Basically, it just makes developers (and your own) lives a lot easier since you just specify the Gradle version in a property

[2017-12-13 22:00] Adarcer opened #63 "Config needs a little clairification"
what are the options everything is set too =MODERATOR. what are the valid options

[2017-12-13 22:29] Elix-x commented on #63
- USER (anyone)
- MODERATOR
- ADMINISTRATOR
- OWNER

[2018-03-26 04:04] Swandar opened #64 "2 Broken Features"
When clicking on the "Item SubSets" and right-clicking on one of the "mod" tab it creates a @(mod reference) in the search bar that breaks the search option. The second, when creating a profile to save your inventory you can't delete it.

I might be doing something wrong, but if I am that means you need to change the way your mod works or create a better tutorial on how to operate it.

[2018-05-05 16:14] Elix-x commented on #64
Sorry for late reply.

To delete inventory save - shift + right click.

FEI does not automatically update JEI search whenever it changes search field's value - you have to submit it as you would when you typed it.

[2018-09-07 01:41] Shade-Jonezy commented on #61
I am one of many who preferred this mod over NEI.  As I am not a mod designer I can't say it would be a quick process, but I can wait for FEI for 1.12.2.

[2018-11-23 05:11] lewdxd opened #65 "Crashes on startup"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  HCASM (HammerCore-1.12.2-2.0.4.0.jar)
Contact their authors BEFORE contacting forge

// Oh - I know what I did wrong!

Time: 11/23/18 1:10 PM
Description: Initializing game

java.lang.NoSuchMethodError: code.elix_x.excomms.reflection.ReflectionHelper$AClass.getDeclaredField([Ljava/lang/String;)Lcode/elix_x/excomms/reflection/Reflec

[2018-11-23 05:12] #65 closed

[2018-12-06 10:07] Pival81 opened #66 "Update to 1.12"
This mod is exactly what I'm looking for, but it's not available for 1.12

[2019-11-03 22:24] #66 closed